:root {
  --color-background-dark: #1a202c;
  --color-text-light: #e2e8f0;
  --color-mint-green: #68d391; /*للأزرار أو الإشعارات*/
  --color-soft-orange: #f6ad55; /*للتفاصيل المميزة (مثل أيقونات التحديد) "اعملي متغيرات css بدول"*/
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--color-background-dark);
  direction: rtl;
}
.main-container {
  width: 100%;
  padding: 0 10px;
  margin: auto;
}

::selection {
  background-color: var(--color-soft-orange);
}
section {
  padding: 50px 0;
}
/******start reusable components*********/
.section-title {
  color: var(--color-background-dark);
  padding: 5px;
  text-align: center;
  margin: 20px;
  background-color: var(--color-mint-green);
  border-radius: 5px;
}

.categories {
  padding: 10px 20px 10px 10px;
  border: 1px solid var(--color-mint-green);
  border-radius: 5px;
  margin: 20px 0;
}
.categories ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.categories h1 {
  color: var(--color-text-light);
  text-align: center;
}
.categories ol li {
  color: var(--color-text-light);
  padding: 10px 0;
  font-size: 20px;
}
.categories p {
  color: var(--color-text-light);
  padding: 10px 0;
  font-size: 20px;
}

.remove {
  color: red;
}
/******End reusable components*********/

/****start  NavBar components  ***/
nav {
  position: fixed;
  width: calc(100% - 50px);
  transform: translateX(-25px);
  border-radius: 30px;
  margin: 10px 0;
  padding: 10px;
  background-color: #0d423c;
}
.nav-content ul {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.nav-content ul a {
  color: var(--color-background-dark);
  color: var(--color-text-light);
  font-size: 18px;
  text-decoration: none;
}
/****End  NavBar components  ***/

/****start  Adding Note Page ***/
.adding-content {
  padding: 20px 0;
}

.adding-content form,
.shownotes-content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.adding-content form .field {
  display: flex;
  align-items: center;
  gap: 10px;
}
.adding-content form .field label,
.shownotes-content form label {
  font-size: 20px;
  color: var(--color-text-light);
  width: 25%;
}
.adding-content form .field input,
.adding-content form .field textarea,
.shownotes-content form input {
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-mint-green);
  padding: 5px;
  border-radius: 5px;
  color: var(--color-text-light);
  font-size: 20px;
  width: 70%;
  outline: none;
  cursor: pointer;
}
.adding-content form .field input:focus,
.adding-content form .field textarea:focus {
  border-color: var(--color-soft-orange);
}
.adding-content form .field textarea {
  height: 300px;
}

.adding-content form input[type="submit"],
.shownotes-content form .submit {
  background-color: var(--color-mint-green);
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border: none;
  width: 200px;
  margin: auto;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
}
.adding-content form input[type="submit"]:hover {
  transform: scale(1.2);
}

/**** end Adding Note Page ***/

/**** start showNotes page  ***/
.shownotes-content form {
  margin: 30px 0;
}

.shownotes-content .category-notes h1 {
  color: var(--color-text-light);
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin: 10px 0;
}
.shownotes-content .category-notes ul li {
  padding: 10px;
  background-color: var(--color-mint-green);
  color: var(--color-text-light);
  border-radius: 30px;
  width: 100%;
  font-size: 25px;
  margin: 20px 0;
}
.shownotes-content .category-notes ul li .note-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shownotes-content .category-notes ul li .note-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.shownotes-content .category-notes ul li p {
  margin: 5px 0;
  color: var(--color-background-dark);
  line-height: 30px;
  word-wrap: break-word;
  font-size: 20px;
}
.category-notes ul li p.en {
  direction: ltr;
  text-align: left;
  padding-left: 30px;
}
.category-notes ul li p.ar {
  direction: rtl;
  text-align: right;
  padding-right: 30px;
}
.operations {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.operations svg {
  cursor: pointer;
  font-size: 25px;
  transition: all 0.2s linear;
}
.operations svg:hover {
  transform: scale(1.3);
}
.confirm-deleting {
  position: fixed;
  background-color: var(--color-background-dark);
  border-radius: 5px;
  padding: 70px 10px 70px 10px;
  width: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid red;
}
.confirm-deleting p {
  text-align: center;
  color: white;
  font-size: 25px;
}
.confirm-deleting .toggle {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.confirm-deleting .toggle button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.confirm-deleting .toggle button:hover {
  transform: scale(1.1);
}
.confirm-deleting .toggle button:nth-child(1) {
  background-color: var(--color-mint-green);
}
.confirm-deleting .toggle button:nth-child(2) {
  background-color: red;
}
.Edit .close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: red;
  cursor: pointer;
}
.Edit form {
  width: 280px;
  position: fixed;
  background-color: #0d423c;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.Edit form input {
  width: 100%;
  background-color: white;
  border: none;
  color: #1a202c;
}
.Edit form textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 100px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.Edit form input[type="submit"] {
  padding: 11px;
  width: 100%;
  background-color: var(--color-mint-green);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: large;
}
/**** end showNotes page  ***/

/******* responsive **********/
@media (min-width: 997px) {
  .main-container {
    width: 990px;
  }
  /******* Adding Note *****/
  .adding-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .adding-content form {
    width: 60%;
  }
  .adding-content form .field label {
    width: 15%;
    font-size: 25px;
  }
  .adding-content form .field input,
  .adding-content form .field textarea {
    width: 85%;
  }
  .adding-content .categories {
    margin: 0;
    width: 30%;
  }
  /******* Adding Note *****/

  .Edit form {
    width: 350px;
  }
}
